*.exe
*.obj
*.lib
*.tlog
*.pdb
*idb
*.ipdb
*.iobj
*.db-shm
*.pch
*.codeanalysis
*.codeanalysisast
*.enc
*.dll
*.ilk
*.opensdf
*.opendb
ClassDiagram.cd
Debug/
Release/
*.o
*.tlb
*.css
*.js
*.xrc
*.html
*.htm
*.xml
*.ico
*.ipch
*.zip
*.sdf
*.fbp
*.png
*.jpg
*.suo
*.chm
*.db
.suo
*.svg
*.ibl
*.def
*.mk
*.gif
*.xpm
*.pdf
.vs/
